html{
  background-color: #ffff;

}
.post_container {
  background-color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}
.container{
  font-family: 'Gloria Hallelujah', cursive;
  background-color: rgb(228, 242, 227);
  padding: 20px;
  border-radius: 10px;
  color: rgb(7, 26, 38);
}

a{
  text-decoration: none;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.comment.unapproved{
  color: rgb(152, 156, 154);
}

nav {
  margin-bottom: 20px;
  border-bottom: solid 2px #c3d4c2;
  padding-bottom: 5px;
}

.top-menu{
  display: inline-block;
}

.button-menu{
  padding: 5px;
}
